.gradle/
.tools/
app/build/
build/
local.properties
keystore.properties
*.apk
*.xls
*.xlsx
*.jpg
*.jpeg
*.png
!app/src/main/res/drawable/paypay_logo.png
*.jks
*.keystore
.idea/
*.iml
docs/
README_backup.md
